@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  list-style: none !important;
}

body {
  background: theme('colors.primary');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.test {
  background: radial-gradient(circle, rgba(0,0,0,0) 5%, rgba(0,0,0,1) 1%);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  animation: reveal 2.5s ease-in-out forwards;
  /* animation-delay: 2s; */
}

@keyframes reveal {
from{
  
}
  to {
    background-size: 10000% 10000%;
  }
}

